@using Microsoft.AspNetCore.Http.Features

@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
}

@if (showBanner)
{
    <nav id="cookieConsent" role="alert">
        <div>
            <div>
                <button type="button" data-toggle="collapse" data-target="#cookieConsent .navbar-collapse">
                    Toggle cookie consent banner
                </button>
            </div>
            <div>
                <p>
                    Use this space to summarize your privacy and cookie use policy.
                </p>
                <div>
                    <a asp-page="/Privacy">Learn More</a>
                    <button type="button" data-cookie-string="@cookieString">Accept</button>
                </div>
            </div>
        </div>
    </nav>
    <script>
        (function () {
            document.querySelector("#cookieConsent button[data-cookie-string]").addEventListener("click", function (el) {
                document.cookie = el.target.dataset.cookieString;
                document.querySelector("#cookieConsent").classList.add("hidden");
            }, false);
        })();
    </script>
}
